<p>	
	<strong>Name:</strong>
	<%= @cost.name %>
</p>

<p>
	<strong>Price:</strong>
	R<%= @cost.price %>
</p>
<p><%= link_to 'Edit', edit_user_cost_path %> | <%= link_to 'Back', user_costs_path %> | <%= link_to 'Delete', user_cost_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Back', user_costs_path %></p>
