<%= form_for @place do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :location %>
		<%= f.text_field :location %>
	</div>
	<div>
		<%= f.label :weather_dependent %>
		<%= f.text_field :weather_dependent %>
	</div>
	<%= f.submit %>
<% end %>