<p>
	<strong>Place Name:</strong>
	<%= @place.name %>
</p>
<p>
	<strong>Location: </strong>
	<%= @place.location %>
</p>
	<strong>Nice weather necessary?</strong>
	<%= @place.weather_dependent %>
</p>

<h2>Comments</h2>
<%= render @place.comments %>

<h2>Add a comment: </h2>
<%= render 'comments/form' %>

<%= link_to 'Back', places_path %>
<%= link_to 'Edit', edit_place_path %>
<%= link_to 'Delete', place_path(@place), 
						method: :delete,
 						data: { confirm: 'Are you sure?' } %>